.App {
  position: relative;
  text-align: center;
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  /* overflow: hidden; */
}
/* CSS file */
.responsive-font {
  font-size: 1vw; /* Adjust the font size based on the viewport */
}

/* CSS file */
.table {
  width: 100%;
  border-collapse: collapse;
  
}
.table tbody{
 padding: 2rem;
}

.table thead th{
  position: sticky;
  top: 0;
  background-color:rgb(235, 149, 209);



}
.table tbody td {
  /* background-color: #f0f0f0; light grey */
  /* background-color: #f8f8f8; off white  */
  /* background-color: #cfe2f3; muted blue  */
  /* background-color: #d3f7be; light green */
  background-color: ghostwhite;

}

/* Increase specificity */
.table thead th,
.table tbody td {
  font-size: 1.0vw;
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;

}


/* Media query to adjust font size for smaller screens */
@media screen and (max-width: 768px) {
  .table th,
  .table td {
    font-size: 3vw; /* Change font size for smaller screens */
  }
}
.table-responsive {
  margin: 0.5rem;
  max-height: 75vh;
  overflow-y: auto;
   
}
/* form{
  border-radius: 1rem;
  padding: 1rem;
  background-color: rgb(235, 224, 224);
} */

.userform .form1 {
  /* Add your styles here for the card class */
  border-radius: 1rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 1.5rem;
  /* margin: 20px; */
  background-color: rgb(235, 235, 235);
  text-align: start;
}
.userform .form1 select,
.userform .form1 input {
  background-color: rgba(230, 171, 34, 0.3); /* Adjust the alpha value (0.5 for 50% opacity) */
}


.error-message{
  color: red;
}