#body {
 
  /* height: 100vh; */
}

#login-form{
  padding: 40px;

}
.login-container {
  background-color: rgba(255, 255, 255, 0.0); /* Adjust the alpha value (0.8) for the desired transparency */
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
}

#login-button {
  background-color: black;
  color: white; /* Add text color to make it visible on a dark background */
}
